html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
}

input {
  border-radius: 0.4em;
}

.as-button {
  display: inline-block;
  background-color: gray;
  color: black;
  border-radius: 0.4em;
  padding: 0.1em;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
  cursor: pointer;
}

.item {
  display: flex;
}

.item-text {
  min-width: 10em;
  max-width: 10em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.title {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0.5em;
  cursor: pointer;

  border-bottom: 5px solid green;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin: 0.5em;
  cursor: pointer;

  border-top: 5px solid green;
}